.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #00afe9;
    border-radius: 10px;
}

.wrapper button{
   background-color: black;
   color: white;
   padding: 10px 20px;
   border-radius: 20px;
   cursor: pointer;
}

.accordion{
    width: 400px;
}
.item{
    background: #4c49fb;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 10px;
}

.title{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.content{
    color: #fff;
    height: auto;
}